.bonus{
    background: $section-color;
    color:#fff;
    &__wrapper{
        padding: 100px 0px 100px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    &__title{
        font-size: 36px;
        font-weight: 900;
        max-width: 680px;
        text-align: center;
    }
    &-list{
        display: flex;
        justify-content: space-between;
        width: 100%;
        &__item{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__icon{
            margin: 100px 0px 40px 0px;
            height: 100px;
            width: 100px;
            border-radius: 50%;
            border: #fff solid 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 30px;
            font-weight: 700;    
        }
        &__description{
            text-align: center;
            font-size: 18px;
            max-width: 245px;
        }
    }
}