.bonus{
    padding: 100px 0;
    background: $section-color;
    color:#fff;
    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    &__title{
        max-width: 680px;
        text-align: center;
    }
    &-list{
        @include reset-list;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 100px -30px 0 -30px;
        &__item{
            margin: 0 30px;
            max-width: 240px;
            display: flex;
            flex-direction: column;
            align-items: center;

            
        }
        &__icon{
            position: relative;
            margin-bottom: 40px;
            height: 100px;
            width: 100px;
            border-radius: 50%;
            border: #fff solid 2px;
            display: flex;
            align-items: center;
            justify-content: center;

            &--sale-10::before{
                content: '10%';
            }
            &--sale-20::before{
                content: '20%';
            }
            &--truck::before{
                width: 56px;
                height: 33px;
                background: url('../img/vector/sprite.svg#icon-bonus-truck');
            }
            &--telemarketer::before{
                width: 35px;
                height: 39px;
                background: url('../img/vector/sprite.svg#icon-bonus-telemarketer');
            }
            &--sale-10::before, &--sale-20::before{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 30px;
                font-weight: 700;
                }
            &--truck::before, &--telemarketer::before{
                content: '';
                position: absolute;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
    
        }
        &__description{
            margin: 0;
            text-align: center;
            font-size: 18px;
        }
    }
}