.comfort{

    &-wrapper{
        padding: 100px 0px 100px 0px; 
    }

    &-content{
        
        &-title{
            font-size: 36px;
            font-weight: 900;
            text-align: center;
        }
        &-subtitle{
            margin-top: 30px;
            font-size: 20px;
            text-align: center;
        }
        &-bar{
            margin-top: 100px;
            display: flex;
            justify-content: space-around;
            width: 100%;

            &-item{
                display: flex;
                flex-direction: column;
                align-items: center;
                &-icon{
                    margin-bottom: 50px;
                }

                &-title{
                    text-align: center;
                    width: 190px;
                    span{
                        display: block;
                    }
                }
            }
        }
    }
}