.consultation{
    background: url('../img/raster/consultation-background.png') no-repeat center;
    background-size: cover;
    &-wrapper{
        padding: 100px 0px 100px 0px;
    }

    &-content{
        color:#fff;
        &-title{
            font-size: 30px;
            font-weight: 900;
            text-align: center;
        }
        &-subtitle{
            margin-top: 60px;
            font-size: 14px;
            text-align: center;
            &-phone{
                display: flex;
                justify-content: center;
                margin-top: 16px;
                font-size: 30px;
                font-weight: 800;
                text-decoration: none;
                color:#fff;
            }
        }
        &-bar{
            display: flex;
            justify-content: center;
            margin-top: 60px;

            &-item + &-item{
                margin-left: 30px;
            }
            &-input-text{
                @include text-input;
                background-image: url('../img/vector/icon-call.svg');
            }
            &-button{
                @include button;
            }
        }
    }
}