.consultation{
    background: url('../img/raster/consultation-background.png') no-repeat center;
    background-size: cover;
    &__wrapper{
        padding: 100px 0px 100px 0px;
        color:#fff;
    }

    &__title{
        font-size: 30px;
        font-weight: 900;
        text-align: center;
    }
    &__subtitle{
        margin-top: 60px;
        font-size: 14px;
        text-align: center;
        &-phone{
            display: flex;
            justify-content: center;
            margin-top: 16px;
            font-size: 30px;
            font-weight: 800;
            text-decoration: none;
            color:#fff;
        }
    }
    &-list{
        display: flex;
        justify-content: center;
        margin-top: 60px;

        &__item + &__item{
            margin-left: 30px;
        }
        &__input-text{
            @include text-input;
            background-image: url('../img/vector/icon-call.svg');
        }
        &__button{
            // @include button;
        }
    }
}