.office{
    background: url('../img/raster/office-background.png') no-repeat center;
    background-size: cover;
    &-wrapper{
        padding: 100px 0px 100px 0px;
    }
    &-content{
        
        &-title{
            font-size: 30px;
            font-weight: 900;
            text-align: center;
        }
        &-subtitle{
            margin-top: 100px;
            font-size: 18px;
            text-align: center;
        }
        &-phone{
            margin-top: 35px;
            display: flex;
            justify-content: center;
            font-size: 24px;
            font-weight: 800;
            text-decoration: none;
            color:#000;
        }
    }
}