.price {
    background: url('../img/raster/price-background.jpg') no-repeat left;
    background-size: contain;
    padding: 100px 0 98px;
    color: $text-secondary-color;
    @include tablet{
        padding: 70px 0 68px;
        background-size: cover;
        background-position-x: calc( 50%  + 230px);
    }
    @include mobile{
        padding: 40px 0 38px;
        background-size: contain;
        background-position-x: unset;
    }
    &__wrapper{
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        @include mobile{
            align-items: center;
        }
        label + label{
            margin-left: 30px;
            @include tablet{
                margin-left: 0;
                margin-top: 30px;
            }
        }
    }
    &__form{
        @include mobile{
            width: 100%;
        }
    }
    &__title{
        color: $text-secondary-color;
        margin: 0;
        margin-bottom: 60px;
        font-size: 30px;
        text-align: right;
        max-width: 450px;  
        @include mobile{
            text-align: center;
            font-size: 20px;
            max-width: none;
            margin-bottom: 30px;
        }      
    }
    &__description{
        position: relative;
        display: flex;
        align-items: center;
        max-width: 190px;
        font-size: 14px;
        text-align: right;
        margin: 0;
        margin-right:90px;
        &::after{
            content: '';
            transform: translate(100%);
            position: absolute;
            right: -30px;
            width: 30px;
            height: 30px;
            background: url('../img/vector/sprite.svg#icon-clock') no-repeat center;
            background-size: cover;
        }
        @include tablet{
            order: 2;
            margin: 10px 60px 0 auto;
            top: 0;
        }
    }
    &__input-wrapper, &__get-wrapper{
        display: flex;
        justify-content: flex-end;
        @include tablet{
            flex-direction: column;
        }
    }

    &__get-wrapper{
        margin-top:55px;
        @include tablet{
            margin-top: 30px;
        }
    }
}