.questions{
    background: $page-secondary-color;
    padding: 100px 0;
    @include tablet{
        padding: 70px 0;
    }
    @include mobile{
        padding: 40px 0;
    }

    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title{
        margin: 0;
        font-weight: 900;
        text-align: center;
    }
    &__subtitle{
        margin: 0;
        margin-top: 30px;
        font-size: 20px;
        font-weight: normal;
        text-align: center;
        @include mobile{
            font-size: 16px;
        }
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 100px;
        @media (max-width: 900px){
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: auto;
            margin-top: 50px;
        }
    }
    &-list{
        @include reset-list;
        @media (max-width: 900px){
            order: 2;
            margin-top: 40px;
        }
        &__item{
            font-size: 16px;

            & + &{
                margin-top: 55px;
                @include tablet{
                    margin-top: 40px;
                }
            }

            &--secondary{
                list-style-type: none;
                & a{
                    color:$text-primary-color;
                    text-decoration: none;
                }
            }
            &--secondary::before{
                content: "";
                background-image: url("../img/vector/icon-questions-reload.svg");
                background-size: 18px 20px;
                width: 18px; 
                height: 20px; 
                position: absolute;
                margin-left:-48px;
            }

            &-check{
                display: none;
                &:checked ~ .questions-list__answer{
                    position: absolute;
                    display:block;
                    visibility: visible;
                    opacity: 1;
                    transition: all 0.3s linear;
                }    
            }
        }
        &__answer{
            opacity: 0;
            visibility: hidden;
            padding: 15px 45px 15px 15px;
            margin-top: 20px;
            background: $page-third-color;
            width:330px;
            position: absolute;
            color: #000;
            @include mobile{
                width: auto;
                margin-right: 20px;
            }
        }
        &__answer::after{
            content: ''; 
            position: absolute;
            left: 20px;
            top: -20px;
            border: 10px solid transparent;
            border-bottom: 10px solid $text-primary-color;

        }
        &__issue{
            border-bottom: 1px solid $text-primary-color;
            transition: all 0.2s linear;
        }
        &__issue:hover{
            border-bottom: 1px solid $text-hover-questions-color;
            color: $text-hover-questions-color;
            cursor: pointer;
        }
    }
    &__image{
        height: 390px;
        width: 570px;
        @include tablet{
            height: 300px;
            width: auto;
        }
        @include mobile{
            height: 160px;
        }
        &-wrapper{
            height: 390px;
            position: relative;  
            @include tablet{
                height: 300px;
            }
            @include mobile{
                height: 160px;
                width: 234px;
            }
            &::after{
                content: 'Эдуард Викторович,\AДиректор ООО "Eddie`s-Car"';
                white-space: pre;
                font-size: 14px;
                position: absolute;
                padding: 10px 20px;
                background: $page-secondary-color;
                opacity: 0.8;
                width: 230px;
                bottom: 0;
                left: 0;
                @include mobile{
                    font-size: 10px;
                    width: auto;
                    padding: 5px;
                }
            }  
        }
    }
}