.search{
    background: url('../img/raster/search-background.png') no-repeat center;
    background-size: cover;
    &-wrapper{
        padding: 100px 0px 100px 0px;
    }
    &-content{
        color: #fff;
        text-align: center;
        &-title{
            font-size: 30px;
            font-weight: 900;
            margin-bottom:30px;
            &-phone{
                @include phone;
                font-size: 30px;
            }
        }
        &-subtitle{
            font-size: 20px;
            margin-bottom: 60px;
            &-secondary{
                font-size: 14px;
                margin-bottom: 30px;
            }
            &-thirdly{
                font-size: 14px;
                margin-bottom: 16px;
            }
            span{
                display: block;
            }
        }
        &-bar{
            display: flex;
            justify-content: space-between;
            margin-bottom: 60px;
            flex-flow: row wrap;
            &-input{
                &-item{
                    input{
                        @include text-input;
                    }
                }
                &-phone{
                    input{
                        @include text-input;
                        background-image: url('../img/vector/icon-call.svg');
                    }
                }
            }
            &-button{
                @include button;
            }
        }
    }
}