.search{
    background: url('../img/raster/search-background.png') no-repeat center;
    background-size: cover;
    &__wrapper{
        padding: 100px 0px 100px 0px;
        color: #fff;
        text-align: center;
    }
    &__title{
        font-size: 30px;
        font-weight: 900;
        margin-bottom:30px;
        &-phone{
            @include phone;
            font-size: 30px;
        }
    }
    &__subtitle{
        font-size: 20px;
        margin: 0 auto;
        margin-bottom: 60px;
        max-width: 620px;
        &-secondary{
            font-size: 14px;
            margin-bottom: 30px;
        }
        &-thirdly{
            font-size: 14px;
            margin-bottom: 16px;
        }
        // span{
        //     display: block;
        // }
    }
    &__fieldset{
        border: none;
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
        flex-wrap: wrap;
    }
    &__input{
        &-item{
            input{
                @include text-input;
            }
        }
        &-phone{
            input{
                @include text-input;
                background-image: url('../img/vector/icon-call.svg');
            }
        }
    }
    &__button{
        @include button;
    }
}