.shipping{
    background: $section-color;
    &__wrapper{
        padding: 100px 0;
    }
    &__title, &__subtitle{
        color:#fff;
    }
    &__title{
        margin-bottom:30px;
        text-align: center;
    }

    &__subtitle{
        font-size: 20px;
        text-align: center;
    }
    
    &-list{
        @include reset-list;
        display: flex;
        margin-top: 100px;
        justify-content: space-between;
        &__item{
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 200px;
            
            &--engine::before{
                width: 95px;
                height: 100px;
                background: url('../img/vector/sprite.svg#icon-shipping-engine');
            }
            &--truck::before{
                width: 100px;
                height: 88px;
                background: url('../img/vector/sprite.svg#icon-shipping-truck');
            }
            &--calendar::before{
                width: 100px;
                height: 93px;
                background: url('../img/vector/sprite.svg#icon-shipping-calendar');
            }
            &--map::before{
                width: 95px;
                height: 92px;
                background: url('../img/vector/sprite.svg#icon-shipping-map');
            }
            &--engine::before, &--truck::before, &--calendar::before, &--map::before{
                content: '';
                position: absolute;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
        }
        &__icon{
            position: absolute;
        }
        &__description{
            color:#fff;
            text-align: center;
            font-size: 18px;
            margin: 0;
            margin-top: 150px;
        }
        &-main + &-main{
            margin-left: 10px;
        }
    }
}