.shipping{
    background: $section-color;
    &-wrapper{
        padding: 100px 0px 100px 0px;
    }
    &-content{
        color:#fff;
        &-title{
            margin-bottom:30px;
            font-size: 36px;
            font-weight: 900;
            text-align: center;
        }

        &-subtitle{
            font-size: 20px;
            text-align: center;
        }
        
        &-bar{
            display: flex;
            margin-top: 100px;
            width: 100%;
            justify-content: space-between;
            &-main{
                display: flex;
                align-items: center;
                flex-direction: column;
                &-icon{
                    position: absolute;
                }
                &-text{
                    text-align: center;
                    font-size: 18px;
                    margin-top: 150px;
                    span{
                        display: block;
                    }
                }
                
            }
            &-main + &-main{
                margin-left: 10px;
            }
        }
    }
}