.storage{
    background: $section-secondary-color;
    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center; 
        padding: 100px 0px 100px 0px; 
    }
    color: #fff;
    &__title{
        margin: 0;
        text-align: center;
    }
    &__subtitle{
        margin: 0;
        margin-top: 30px;
        font-size: 20px;
        font-weight: normal;
        text-align: center;
        width: 650px;
    }
    &-list{
        @include reset-list;
        margin: 0 -15px;
        margin-top: 100px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        li {
            margin: 0 15px;
        }
        &__item{
            height: 270px;
            width: 370px;
        }
    }
}