.storage{
    background: $section-secondary-color;
    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center; 
        padding: 100px 0px 100px 0px; 
    }
    color: #fff;
    &__title{
        font-size: 36px;
        font-weight: 900;
        text-align: center;
    }
    &__subtitle{
        margin-top: 30px;
        font-size: 20px;
        text-align: center;
        width: 650px;
    }
    &-list{
        margin-top: 100px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        &__item{
            height: 270px;
            width: 370px;
        }
    }
}