.button{
    &-primary, &-secondary, &-header{
        border:none;
        color: $text-primary-color;
        width: 370px;
        padding: 25px;
        text-align: center;
        font-size: 17px;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
        @include mobile{
            width: 100%;
            font-size: 14px;
        }
    }
    &-primary{
        background-color: $button-primary-color;
    }
    &-secondary{
        background-color: $button-secondary-color;
    }
    &-header{
        width: 170px;
        font-size: 12px;
        background: $button-header-gradient;
    }
}