$page-primary-color: #08243e;
$page-secondary-color: #0b3554;
$page-third-color: #fff;
$about-section-color: #f7b516;
$header-footer-color: #191919;


$text-primary-color: #fff;
$text-secondary-color: #000;
$text-hover-questions-color: #1866af;


$button-primary-color: #f7b516;
$button-secondary-color: #1866af;
$button-header-gradient: linear-gradient(325deg, #273588, #1c62ac);

$border-bonus-color: #fff;
$border-crew-color: #ffbc3b;
$input-text-color: #f2f2f2;
$border-link-warranty-color: #8f8f8f;