html, body {
    box-sizing: border-box;
    font-family: $proximanova;
    // user-select: none;
    font-size: 18px;
    font-weight: normal;
    @include tablet{
        font-size: 16px;
    }
    @include mobile{
        font-size: 14px;
    }  
}

h1, h2, h3, h4, h5 {
  font-weight: 900;
  font-size: 36px;
  @include tablet{
      font-size: 30px;
  }
  @include mobile{
      font-size: 20px;
  }
}

.container{
    max-width: 1210px;
    padding: 0 20px;
    margin: 0 auto;
    @include tablet{
        max-width: 1170px;
        padding: 0 40px;
    }
    @include mobile{
        width: auto;
        padding: 0 20px;
        max-width: unset;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.phone-number{
    text-decoration: none;
    color: #fff;
    font-weight: 900;
    font-size:18px;
    padding: 0;
}
