html, body {
    box-sizing: border-box;
    font-family: $proximanova;
    // user-select: none;
    font-size: 18px;
    font-weight: normal;
}

h1, h2, h3, h4, h5 {
  font-weight: 900;
  font-size: 36px;
}

.container{
    max-width: 1210px;
    padding: 0 20px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    z-index: -1000;
}