.page-footer{
    background-color: $header-color;
    padding: 40px 0 ;
    color: #fff;
    @include mobile{
        padding: 20px 0;
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include mobile{
            flex-direction: column;
        }
    }
    &__contacts{
        max-width: 165px;
    }
}
.contacts{
    &__title{
        font-size: 13px;
        margin: 0;
        margin-bottom: 10px;
        text-align: center;
    }
}
.copyright{
    margin: 0;
    font-size: 12px;
    @include mobile{
        margin: 20px 0;
    }
    &__love-icon{
        display: inline-block;
        margin-bottom: -5px;
        width: 15px;
        height: 15px;
        background: url('../img/raster/icon-love.png') no-repeat center;
        font-size: 0;
    }
    &__logo{
        display: inline-block;
        width: 70px;
        height: 20px;
        margin-bottom: -7px;
    }
}