.header {
    background-color: $header-color;

    &-wrapper{
        display: flex;
        align-items: center;
        min-height:100px;
        justify-content: space-between;
    }
    
    &-content{


        &-logo{
            background: url('../img/raster/header-logo.png') no-repeat;
            background-size: cover;
            height: 40px;
            min-width: 191px;
        }

        &-worktime span{
            color:#fff;
            font-size:12px;
            text-align: center;
            line-height: 24px;
            display: block;
        }

        &-phone{
            display: flex;

            &-number{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-right:20px;
                &-title{
                    @include phone;
                    font-size:18px;
                    padding: 0;
                }
                &-title + &-title{
                    padding-top: 10px;
                }
            }
            &-button{
                @include button;
                background-image: linear-gradient(325deg, #273588, #1c62ac);
                height:50px;
                width: 170px;
                font-size: 12px;
            }
        
        }
    }
}