.page-header {
    background-color: $header-color;
    &__logo{
        width: 190px;
        height: 40px;
        @include tablet{
            width: 165px;
            height: 34px;
        }
    }
    &__wrapper{
        display: flex;
        align-items: center;
        min-height:50px;
        padding: 25px 0;
        justify-content: space-between;
    }
    &__worktime{
        margin: 0;
        font-size:12px;
        line-height: 24px;
        text-align: center;
        color:#fff;
    }
    &__contacts{
        display: flex;
        @include mobile{
            display: none;
        }
        &-inner{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-right:20px;

            & > .phone-number + .phone-number{
                margin-top: 10px;
            }
        }
    }
}