.page-footer{
    background-color: $header-footer-color;
    padding: 40px 0 ;
    @include mobile{
        padding: 20px 0;
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include mobile{
            flex-direction: column;
        }
    }
    &__contacts-wrapper{
        max-width: 165px;
    }
    &__text{
        font-size: 13px;
        margin: 0;
        margin-bottom: 10px;
        text-align: center;
    }
}